body {
    font-family: sans-serif;
    background-image: url("./Assets/question_background.jpg");
  }

h1{
  font-family: 'Special Elite', cursive;
  margin-bottom: 0;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

  .card {
    background-color:#EFE8BE;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    /* color: #BCF0FB; */
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    opacity: .95;
  }

  .card-header {
    text-align: center;
    padding: 0;
    background-color: #D094B7;
    border: 1px solid black;
  }

  .card-header::after {
    /* content: " "; */
    display: block;
    width: 100%;
    background: #e7e9eb;
    /* height: 2px; */
  }

  .card-body {
    min-height: 100px;
    border: 1px solid black;
  }

  .card-footer {
    text-align: center;
    padding: 0;
    /* background-color: #B76568; */
    border: 1px solid black;
  }

  .card-footer::before {
    /* content: " "; */
    display: block;
    width: 100%;
    background: #e7e9eb;
    /* height: 2px; */
  }

  .card-footer::after {
    /* content: " "; */
    display: block;
    clear: both;
  }

  .btn {
    border: none;
    background-color: #D094B7;
    /* background-color: #784084; */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
  }

  button[disabled] {
    cursor: default;
    background: #c0c7cf;
  }

  footer{
    padding-top: 5px;
    text-align: center;
    margin-top:10px;
    font-size:12px;
    background-color: #EFE8BE;
    border-top: 1px solid #d3d3d3;
  }

  footer p{
    margin:0;
  }

/* timer element */
.time{
  font-weight:bold;
  color: #784084;
}

/* correct/incorrect score elements in header */
  .score{
  float:right;
  margin: 0 0 0 50px;
}

/* question elements */
.question{
    font-weight: bold;
}

/* choice buttons */
.choice{
    background-color:#ACE6AC;
    display: block;
    width: 400px;
    text-align: left;
    margin-bottom: 10px;
}

.choice:hover{
  background-color: #FCB36E;
}

/* class to right align elements */
.right{
    text-align:right;
    margin-right: 20px;
}

/* class to center align elements */
.center{
    text-align: center;

    align-content: center;
}

/* class for correct text: answer and rationale text */
.correct{
  color: green;
}

/* class for incorrect text: answer and rationale text */
.incorrect{
  color:red;
}

/* styles for gifImgs */
.gif{
  display: block;
  margin: 0 auto;
  max-height: 200px;
  width:auto;
  border-radius: 5px;
  border: 1px black solid;
}

.scoreArea{
  max-height: 200px;
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .choice {
    width:200px;
    white-space: normal;
    word-wrap: break-word;
    margin-left:0;
  }
  .gif{
    max-width: 200px;
  }

  input{
    width: 200px;
  }

}